<div class="add_new_issue hide">
	<form>
		<table >
			<tr>
				<td colspan="2"><input type="text" name="title_issue" class="title_issue" placeholder="Enter the issue subject..."></td>
			</tr>
			<tr>
				<td colspan="2">
					<textarea name="description" class="issue_description " placeholder="Enter the issue subject..."></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<span>Type:</span>
					<select class="value_content" name="">
						<option value="1">Bug</option>
						<option value="2">Feature</option>
						<option value="3">Support</option>
					</select>
				</td>
				<td>
					<span>Priority:</span>
					<select class="value_content">
						<option value="1">Low</option>
						<option value="2">Normal</option>
						<option value="3">High</option>
						<option value="3">Urgent</option>
						<option value="3">Immediate</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="assign_up">
					<div class="assign">
						<%= image_tag('avata.png', :plugin => 'scrum2b') %>
						<span>Quang Thai</span>
						<%= image_tag('sans_down.png', :plugin => 'scrum2b') %>
					</div>
					<div class="select_assign hide">
						<ul>
							<li>
								<%= image_tag('avata.png', :plugin => 'scrum2b') %>
								<span>Quang Thai</span>
							</li>
							<li>
								<%= image_tag('avata.png', :plugin => 'scrum2b') %>
								<span>Quang Thai</span>
							</li>
							<li>
								<%= image_tag('avata.png', :plugin => 'scrum2b') %>
								<span>Quang Thai</span>
							</li>
						</ul>
					</div>
				</td>
				<td>
					<span>Est. Hour:</span>
					<input type="text" class="time">
				</td>
			</tr>
			<tr>
				<td>
					<span>Start:</span>
					<input type="text" class="begin">
				</td>
				<td>
					<span>Due to:</span>
					<input type="text" class="end">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="button" class="submit_issue">Add</button>
					<button type="button" class="cancel_issue">Cancel</button>
				</td>
			</tr>
		</table>
	</form>
</div><!--end add new issue -->