<script>
  var scrum2b = angular.module('scrum2b', ["xeditable"]);

  scrum2b.controller('BoardsCtrl', function ($scope, ListIssues,$filter){

    ListIssues.list().then(
      function(data){
        var arrayVersionLoaded = [];
        var arrayIssues = [];
        var arrayIssuesBacklog = [];
        var arrayVersions = [];
        var arrayStatus = [];
        var arrayTracker = [];
        var arrayPriority = [];
        var arrayMembers = [];
        $scope.paramsStatusId = '';
        $scope.memberActiveShow = 'all';
        $scope.statusIds = data.status_ids
          angular.forEach(data.issues, function(value) {
            angular.forEach(value, function(value,key) {
              arrayIssues.push(value);
            })
          })
          angular.forEach(data.issues_backlog, function(value) {
            angular.forEach(value, function(value,key) {
              arrayIssuesBacklog.push(value);
            })
          })
          angular.forEach(data.versions, function(value) {
            angular.forEach(value, function(value,key) {
              arrayVersions.push(value);
            })
          })
          angular.forEach(data.status, function(value) {
            angular.forEach(value, function(value,key) {
              arrayStatus.push(value);
            })
          })
          angular.forEach(data.tracker, function(value) {
            angular.forEach(value, function(value,key) {
              arrayTracker.push(value);
            })
          })
          angular.forEach(data.priority, function(value) {
            angular.forEach(value, function(value,key) {
              arrayPriority.push(value);
            })
          })
          angular.forEach(data.members, function(value) {
            angular.forEach(value, function(value,key) {
              arrayMembers.push(value);
            })
          })

        $scope.versions = arrayVersions;
        $scope.issues = arrayIssues;
        $scope.issuesBacklog = arrayIssuesBacklog
        $scope.priorities = arrayPriority;
        $scope.trackers = arrayTracker;
        $scope.status = arrayStatus;
        $scope.allIssues = arrayIssues;
        $scope.members = arrayMembers;
        $scope.versionSelected = arrayVersions[0];
        arrayVersionLoaded.push(arrayVersions[0].id);
        $scope.versionsLoaded = arrayVersionLoaded;
        $scope.filterStatusIssues($scope.issues,$scope.memberActiveShow);
        console.log("array new status " + data.status_ids)
      }
    );

    $scope.activeVersion = function(version){
      $scope.getIssues(version,$scope.memberActiveShow)
      //set active or unactive version
      $scope.setUnActiveVersion(version)
    }
    
    $scope.summitIssue = function(){
      // alert (issue.id)
      // if (issue.id === nil) {
      //   alert("vao them")
      // }else{
      //   alert("vao sua")
      // };
    };
    
    $scope.setParamsAddIssue = function(status_id,version_id){
      $scope.paramsStatusId = status_id
      $scope.paramsVersionId = version_id
    }
    
    $scope.addIssue = function(){
      $scope.newissue.start_date = $filter('date')($scope.newissue.start_date, "yyyy-MM-dd")
      $scope.newissue.due_date = $filter('date')($scope.newissue.due_date, "yyyy-MM-dd")
      $scope.newissue.status_id = $scope.paramsStatusId
      $scope.newissue.fixed_version_id = $scope.paramsVersionId
      console.log ("version  " + $scope.paramsVersionId)
      ListIssues.addIssue($scope.newissue).then(
        function(data){
          if(data.result == 'create_success'){
            console.log ("da tao thanh cong ")
            angular.forEach(data.issue, function(value) {
              if(value.fixed_version_id == null){
                $scope.issuesBacklog.push(value)
              }else{
                $scope.issues.push(value)
                $scope.filterStatusIssues($scope.issues,$scope.memberActiveShow)
              }
              
            })
          }else{
            alert(data.result)
          }
        }
      );
      $('.add_new_issue').hide();
      $('.form_add_new_issue').trigger("reset");
    };

    $scope.deleteIssue = function(issue) {
      ListIssues.deleteIssue(issue).then(
        function(data){
          if (data.result == "success") {
            console.log ("xoa thanh cong ")
            $scope.issues.splice($scope.issues.indexOf(issue), 1);
            $scope.filterStatusIssues($scope.issues,$scope.memberActiveShow)
          };
        }
      );
    };
    
    $scope.checkParamsEdit = function(data) {
      console.log ("start " + $filter('date')(data.start_date, "yyyy-MM-dd"))
      console.log ("end "+$filter('date')(data.due_date, "yyyy-MM-dd"))
      if ($filter('date')(data.start_date, "yyyy-MM-dd") > $filter('date')(data.due_date, "yyyy-MM-dd")) {
        $scope.errorDate =  "Due date must be greater than start date";
        return "Due date must be greater than start date";
      }
    }; 
    $scope.editIssue = function(issue){
      $scope.errorDate = '';
      console.log ("params edit issue " + issue.start_date)
      issue.start_date = $filter('date')(issue.start_date, "yyyy-MM-dd")
      issue.due_date = $filter('date')(issue.due_date, "yyyy-MM-dd")
      ListIssues.editIssue(issue).then(
        function(data){
          if (data.result == "edit_success") {
            console.log ("da tao thanh cong ")
            angular.forEach(data.issue, function(value) {
              console.log ("edit thanh cong " + value.start_date)
            })
            var id = issue.id
            $(".from_edit_issue_" + id ).hide();
            
          }else{
            console.log (data.result)
          }
        }
      );
    };
    
    $scope.filterIssues = function(){
      if(!angular.isUndefined($scope.filterversion)){
        $scope.versionFiltered = $filter('filter')($scope.versions, {id: angular.fromJson($scope.filterversion).id})[0];
        console.log ($scope.versionSelected === $scope.versionFiltered)
        $scope.versionSelected = $scope.versionFiltered
      }
      if(!angular.isUndefined($scope.filtermember)){
        if($scope.member == 'all'){
          $scope.memberActiveShow = 'all'
        }else{
          $scope.memberActiveShow = angular.fromJson($scope.filtermember).id
        }
      }else{
        $scope.memberActiveShow = $scope.memberActiveShow
      }
      $scope.getIssues($scope.versionSelected,$scope.memberActiveShow)
    };
    
    $scope.updateStatus = function(){
      console.log ("params update Status ")
      // ListIssues.updateStatus($scope.issue).then(
      //   function(data){
      //     if (data.result == "eidt_success") {
      //       //chay lai function load data
      //     }else{
      //       alert(data.result)
      //     }
      //   }
      // );
    };
    
    $scope.updateVersion = function(issue,version_id) {
      console.log ("updateVersion")
      ListIssues.updateVersion(issue.id,version_id).then(
         function(data){
          if (data.result == "update_success") {
            $scope.issues.splice($scope.issues.indexOf(issue), 1);
            $scope.filterStatusIssues($scope.issues,$scope.memberActiveShow)
            issue.fixed_version_id = version_id
          };
         }
      );
    };

    $scope.changeStatus = function(issue,status_id,version_id) {
      console.log ("changeStatus")
      ListIssues.changeStatus(issue.id,status_id, version_id).then(
         function(data){
          if (data.result == "update_success") {
            console.log ("update status thanh cong ")
            issue.status_id = status_id
            $scope.filterStatusIssues($scope.issues,$scope.memberActiveShow)
          };
         }
      );
    };
    
    $scope.getIssues = function(version,member_id){
      console.log("array version loaded "+ $scope.versionsLoaded)
      console.log("params version id "+ version.id)
      var indexOfVersion  = $scope.versionsLoaded.indexOf(version.id)
      if (indexOfVersion >= 0){
        var arrayIssues = [];
        angular.forEach($scope.allIssues, function(value) {
          if(value.fixed_version_id == version.id){
            arrayIssues.push(value);
          }
         })
        $scope.issues = arrayIssues;
        $scope.filterStatusIssues($scope.issues,member_id)
      }else{
        $scope.versionsLoaded.push(version.id)
        ListIssues.getIssues(version.id).then(
          function(data){
            var arrayIssues = [];
            angular.forEach(data, function(value) {
              angular.forEach(value, function(value,key) {
                angular.forEach(value, function(value,key) {
                  arrayIssues.push(value);
                  $scope.allIssues.push(value);
                })
              })
            })
            $scope.issues = arrayIssues;
            $scope.filterStatusIssues($scope.issues,member_id)
          }
        )
      }
    }
    
    $scope.setUnActiveVersion = function(version){
      if($scope.versionSelected == version){
        $scope.versionSelected = !version;
      }else{
        $scope.versionSelected = version;
      }
      console.log ("version select "+$scope.versionSelected.id)
    }
    
    $scope.isActiveVersion = function(version) {
      return $scope.versionSelected === version;
    };
    
    $scope.filterStatusIssues = function(issues,member_id) {
      var arrayIssuesNew = [];
      var arrayIssuesInProgess = [];
      var arrayIssuesResolved = [];
      var arrayIssuesClose = [];
      var issueFilter = []
      console.log ("member active show " + member_id)
      if(member_id == 'all'){
        issueFilter = issues
      }else{
        angular.forEach(issues, function(value) {
          if(value.assigned_to_id == member_id){
            issueFilter.push(value)
          }
        })
        console.log ("array issue after filter " + issueFilter)
      }
      angular.forEach(issueFilter, function(value) {
          if ($scope.statusIds.status_no_start == value.status_id){
            arrayIssuesNew.push(value)
          }else if($scope.statusIds.status_inprogress == value.status_id){
            arrayIssuesInProgess.push(value)
          }else if($scope.statusIds.status_completed == value.status_id ){
            arrayIssuesResolved.push(value)
          }else if($scope.statusIds.status_closed == value.status_id ){
            arrayIssuesClose.push(value)
          }
        })
      $scope.issuesNew = arrayIssuesNew
      $scope.issuesInProgess = arrayIssuesInProgess
      $scope.issuesResolved = arrayIssuesResolved
      $scope.issuesClose = arrayIssuesClose
      $scope.issueFilter = issueFilter
    }
  });

  scrum2b.directive('sortable', function($http) {
    return {
      restrict: 'A',
      link: function(scope, elm, attrs) {
        var jqueryElm = $(elm[0]);
        $(jqueryElm).sortable({
          connectWith: ".connectedSortable"
        }).disableSelection()

        $(jqueryElm).on( "sortout", function( event, ui ) { 
          $('.content').find('.hide_backlog').find('.content_issue').show();
        });

        $(jqueryElm).on( "sortover", function( event, ui ) {
          $(this).addClass('background_sortover');
          $('.ui-sortable-helper').addClass('move_issue');
          a = $(this).attr('class');
          if ($('.location_start_issue').length == 0 ) {
            $("<div class='location_start_issue'></div>").insertAfter(".move_issue");
          };
          check_height_max_angular();
        });

        $(jqueryElm).on( "sortout", function( event, ui ) {
          $(this).removeClass("background_sortover");
        });

        $(jqueryElm).on( "sortstop", function( event, ui ) {
           $( ".location_start_issue" ).remove();
          check_height_max_angular();
        });
      
        $(jqueryElm).on( "sortbeforestop", function( event, ui ) {
          var issueID = $('.move_issue').attr('issue-id');
          var statusID = $('.move_issue').parent().attr('status-id');
          var versionID = $('.move_issue').parent().attr('version-id');
          // alert(issueID)
          // alert(statusID)
          // alert(versionID)
          $('.move_issue').removeClass('move_issue');
          updateStatus(issueID,statusID,versionID)          
        });

        function updateStatus(id, status_id, version_id){
          var request = $http({
            method: "post",
            url: "update_status",
            params: {
              action: "get"
            },
            data: {
              id: id,
              status_id : status_id,
              fixed_version_id : version_id,
              project_id: "<%= @project.id %>"
            },
          });

          function  handleSuccess( response ){
            return ( response.data );
          }
        }
        
        function check_height_max_angular(){
          $(".sprint-active .check_height").css("height","auto");
          var height1 = $(".active #sortable1").height();
          var height2 = $(".active #sortable2").height();
          var height3 = $(".active #sortable3").height();
          var height4 = $(".active #sortable4").height();
          var array_height = [height1, height2, height3, height4];
          var max_height = Math.max.apply(Math, array_height);
          $(".sprint-active .check_height").css("height",max_height);
        }
      }
    };
  })

  scrum2b.directive('datepicker', function () {
    return {
      restrict: 'A',
      require: 'ngModel',
      link: function (scope, element, attrs, ngModelCtrl) {
        element.datepicker({
          dateFormat: 'yy-mm-dd',
          onSelect: function (date) {
            scope.date = date;
            scope.$apply();
          }
        });
      }
    };
  });
  
  scrum2b.service('ListIssues', function($http, $q){
    function getIssues(version_id){
       var request = $http({
        method: "post",
        url: "get_issues_version",
        params: {
          action: "get"
        },
        data: {
          project_id: "<%= @project.id %>",
          version_id: version_id,
        },
      });
      return( request.then( handleSuccess, handleError ) );
    }
    
    function getData(callback){
        var request = $http({
        method: "post",
        url: "get_data",
        params: {
          action: "get"
        },
        data: {
          project_id: "<%= @project.id %>"
        },
      });
      return( request.then( handleSuccess, handleError ) );
    }
    
    function addIssue(issue){
      var request = $http({
        method: "post",
        url: "create",
        params: {
          action: "get"
        },
        data: {
          issue: issue,
        },
      });
      return( request.then( handleSuccess, handleError ) );
    }
    
    function deleteIssue(issue){
      var request = $http({
        method: "post",
        url: "destroy",
        params: {
          id: issue.id
        },
        data: {
          issue: issue,
        },
      });
      return( request.then( handleSuccess, handleError ) );
    }

    function editIssue(issue){
      var request = $http({
        method: "post",
        url: "update",
        data: {
          issue: issue,
        },
      });
      return( request.then( handleSuccess, handleError ) );
    }

    function updateVersion(issue_id, version_id){
      var request = $http({
        method: "post",
        url: "update_version",
        params: {
          action: "get"
        },
        data: {
          id: issue_id,
          fixed_version_id : version_id,
          project_id: "<%= @project.id %>"
        },
      });
      return( request.then( handleSuccess, handleError ) );
    }

    function changeStatus(issue_id, status_id, version_id){
      var request = $http({
        method: "post",
        url: "update_status",
        params: {
          action: "get"
        },
        data: {
          id: issue_id,
          status_id : status_id,
          fixed_version_id : version_id,
          project_id: "<%= @project.id %>"
        },
      });
      return( request.then( handleSuccess, handleError ) );
    }

    return {
      list: getData,
      getIssues: getIssues,
      addIssue: addIssue,
      deleteIssue: deleteIssue,
      editIssue: editIssue,
      updateVersion: updateVersion,
      changeStatus: changeStatus
    }
    
    function handleError ( response ){
      if (
          ! angular.isObject( response.data ) ||
          ! response.data.message
        ) {
        return ( $q.reject("false") );
      };

      return ( $q.reject( response.data.message ) );
    }

    function  handleSuccess( response ){
      return ( response.data );
    }
  });

</script>