
<div class="title_issue">
  <a href="/issues/{{issue.id}}">#{{ issue.id }} {{ issue.subject }}</a>
  <span class="icon_config" ><i class="fa fa-cog"></i></span> 

</div><!--end title issue -->
<div class="setting hide">
  <ul>
    <li>
      <a href="" ng-click="deleteIssue(issue)" >Delete</a>
    </li>
    <li>
      <a href="/issues/{{issue.id}}">View</a>
    </li>
    <li>
      <a href="" class="edit_issue" issue_id="{{issue.id}}" ng-click="editableForm.$show()">Edit</a>
    </li>
    <li class="sprint_li">
      <a href="">Change sprint</a>
      <ul class="change_sprint">
        <li ng-repeat="version in versions" >
          <a href="" ng-click="updateVersion(issue, version.id)" version-id="{{version.id}}" issue-id="{{issue.id}}" >{{version.name}}</a>
        </li>
      </ul>
    </li>
    <li class="status_li">
      <a href="">Change status</a>
      <ul class="change_status">
        <li>
          <a href="" ng-click="changeStatus(issue, statusIds.status_no_start, version.id)" class="">New issue</a>
        </li>
        <li>
          <a href="" ng-click="changeStatus(issue, statusIds.status_inprogress, version.id)" class="">In Progess</a>
        </li>
        <li>
          <a href="" ng-click="changeStatus(issue, statusIds.status_completed, version.id)" class="">Resolved</a>
        </li>
        <li>
          <a href="" ng-click="changeStatus(issue, statusIds.status_closed, version.id)" class="">Close</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="content_issue">
  <a href="#" class="avata" title="Quang Thai"><%= image_tag('avata.png', :plugin => 'scrum2b') %></a>
  <div class="progress_issue">
    <div class="value_progess">
      <!-- <span><input type="text" class="amount" readonly value="{{issue.done_ratio}}"  >%</span> -->
      <span><input type="text" class="amount" readonly  readonly value="{{issue.done_ratio}}" >%</span>
      <i class="fa fa-caret-down"></i>
    </div>
    <div class="select_progess_issue hide">
      <div class="triangle"></div>
      <div slider issue-id="{{issue.id}}" config="sliderConfig" model="price" value="{{issue.done_ratio}}" class="cdbl-slider slider-vertical" ></div>

      <!-- Price: {{issue.done_ratio}} -->
      <!-- <div slider config="sliderConfig" model="issue.done_ratio" value="{{issue.done_ratio}}" class="cdbl-slider slider-vertical"></div> -->
      
    </div>
    <br>
    <span class="icon_down"><i issue="123" class="fa fa-angle-double-down fa-lg"></i></span>
  </div>
</div><!--end content issue-->
<div class="detail_issue">
  <div class="detail">
    <p>
      {{issue.description}}
    </p>
  </div>
  <div class="file_comment">
    <ul>
      <li>
        <span class="open_file">File</span>
      </li>
      <li>
        <span class="open_comment">Comment</span>
      </li>
    </ul>
    <span class="icon_top "><i class="fa fa-angle-double-up fa-lg"></i></span>
  </div>

  <div class="file">
    <p>File</p>
    <span class="view_file">View more comments</span>
    <ul>
      <li>
        <a href="" class="icon_file"><%= image_tag('icon-file.png', :plugin => 'scrum2b') %></a>
        <span>Comment Comment Comment Comment </span>
      </li>
      <li>
        <a href="" class="icon_file"><%= image_tag('icon-file.png', :plugin => 'scrum2b') %></a>
        <span>Donec et ante. Phasellus eu ligula.</span>
      </li>
      <li>
        <a href="" class="icon_file"><%= image_tag('icon-file.png', :plugin => 'scrum2b') %></a>
        <span>Donec et ante. Phasellus eu ligula.</span>
      </li>
    </ul>
  </div><!--end file-->
  <div class="comment">
    <p>Comment</p>
    <span class="view_comment">View more comments</span>
    <ul>
      <li>
        <a href="" class="avata"><%= image_tag('avata.png', :plugin => 'scrum2b') %></a>
        <span>Comment Comment Comment Comment </span>
      </li>
      <li>
        <a href="" class="avata"><%= image_tag('avata.png', :plugin => 'scrum2b') %></a>
        <span>Donec et ante. Phasellus eu ligula.</span>
      </li>
      <li>
        <a href="" class="avata"><%= image_tag('avata.png', :plugin => 'scrum2b') %></a>
        <span>Donec et ante. Phasellus eu ligula.</span>
      </li>
    </ul>
  </div><!--end comment-->

</div><!--end detail issue-->
  

<!-- from edit issue -->
<%= render :partial => "s2b_issues/edit_issue" %>
